.col-main {
	display: inline;
    font-size: 14px;
    padding: 0px;
}

.search-box {
	width:80%;
}

#search-history div,
#search-hot div{
	font-size: 14px;
	weight:normal;
	
}

#search-div,
#sort-div{
	 float:left;
	 width:49%;
	 padding: 15px;
}
.search-btn-bg{
	position:static;

}

.search-box{
	display: inline-block;
}

.search-choose{
	display: inline-block;
}

#search-history span,
#search-hot span {
    display: inline-block;
    padding: 2px 8px;
    font-size: 12px;
    background: #eee;
    color: #696969;
    text-align: center;
    border-radius: 3px;
    margin: 0 4px;
    cursor: pointer;
    margin-top: 10px;
}
#search-history em,
#search-hot em {
    font-style: normal;
}